.more-about-us-list {
  text-align: left;
  margin-bottom: 40px;
}

.more-about-us-list ul li {
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: -.01em;
  color: #0a165e;
  display: flex;
  gap: 15px;
}

.more-about-us-list ul li ion-icon {
  font-size: 22px;
  color: #0a165e;
  --ionicon-stroke-width: 80px;
}

.about-business-grow {
  background-color: #F4F5F6;
}

.business-lists {
  margin-top: 40px;
}

.business-list {
  gap: 24px;
  display: flex;
  margin-bottom: 24px;
}

.business-list-icon-box {
  width: 90px;
  height: 90px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #fff;
}

.business-list-content h5 {
  font-size: 20px;
  color: #0a165e;
  margin-bottom: 18px;
  line-height: 28px;
}

.aboutus.form-section {
  background-color: #F5F6F7;
}

.aboutus.work-together-section {
  background-image: url(../../image/cta-bg3.png);
}

.aboutus.work-together-section {
  background-image: url(../../image/cta-bg3.png);
}